<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.TODO.mapper.TodoMapper">

    <!-- 리스트 조회 -->
    <select id="selectTodoList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT id,
               user_id,
               text,
               checked,
               created_date,
               last_modified_date
        FROM tb_todo
        WHERE user_id = #{user_id}
          AND deleted_flag = 0
        ORDER BY id DESC
    </select>

    <!-- 날짜별 리스트 조회 -->
    <select id="selectTodoListByDate" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT id,
               user_id,
               text,
               checked,
               created_date,
               last_modified_date
        FROM tb_todo
        WHERE user_id = #{user_id}
          AND deleted_flag = 0
          AND DATE_FORMAT(created_date, '%Y-%m-%d') = #{date}
        ORDER BY id DESC
    </select>

    <!-- 할 일 완료시 눈송이 도장 삽입/삭제/조회 -->
    <insert id="insertDoneDate" parameterType="java.util.HashMap">
        INSERT INTO tb_todo_done_day (user_id, done_date)
        VALUES (#{user_id}, #{done_date})
            ON DUPLICATE KEY UPDATE done_date = #{done_date};
    </insert>

    <delete id="deleteDoneDate" parameterType="java.util.HashMap">
        DELETE FROM tb_todo_done_day
        WHERE user_id = #{user_id}
          AND done_date = #{done_date};
    </delete>

    <select id="selectDoneDates" parameterType="java.util.HashMap" resultType="java.lang.String">
        SELECT done_date
        FROM tb_todo_done_day
        WHERE user_id = #{user_id};
    </select>

    <!-- 했던 일 검색하기 -->
    <select id="searchTodo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT id, user_id, text, checked, created_date, last_modified_date
        FROM tb_todo
        WHERE user_id = #{user_id}
          AND deleted_flag = 0
          AND text LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY created_date DESC;
    </select>







    <!-- 추가 -->
    <insert id="insertTodo" parameterType="java.util.HashMap">
        INSERT INTO tb_todo
            (user_id, text, checked)
        VALUES
            (#{user_id}, #{text}, #{checked})
    </insert>

    <!-- 수정 -->
    <update id="updateTodo" parameterType="java.util.HashMap">
        UPDATE tb_todo
        SET text = #{text},
            checked = #{checked},
            last_modified_date = NOW()
        WHERE id = #{id}
    </update>

    <!-- 삭제 (Soft Delete) -->
    <update id="deleteTodo" parameterType="java.util.HashMap">
        UPDATE tb_todo
        SET deleted_flag = 1,
            deleted_date = NOW()
        WHERE id = #{id}
    </update>

</mapper>
